.container{
    width: 75%;
    margin: auto;
}
.containerHero{
    height: 100vh;
    padding: 20vh 0;
    justify-content: center;
    margin-left: 10vw;
}
.vw{
    height: 100vh;
}
.largeText{
    font-size: 4rem;
    margin-bottom: 30vh;
}
.winkingEmoji{
    position: absolute;
    left: 45%;
    top: 31%;
}