.container{
    width: 75%;
    margin: auto;
}
.containerHero{
    height: 100vh;
    padding: 20vh 0;
    justify-content: center;
    margin-left: 10vw;
}
.vw{
    height: 100vh;
}
.largeText{
    font-size: 4rem;
    margin-bottom: 30vh;
}
.winkingEmoji{
    position: absolute;
    left: 45%;
    top: 31%;
}
@media screen and (max-width: 1188px) {
    .largeText{
        font-size: 3rem;
    }
}
@media only screen and (max-width: 768px){
    .container{
        width: 100%;
        margin: auto;
    }
    .largeText{
        font-size: 3rem;
    }
}