
/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  .card:hover {
    background: rgba(var(--card-rgb), 0.1);
    border: 1px solid rgba(var(--card-border-rgb), 0.15);
  }

  .card:hover span {
    transform: translateX(4px);
  }
}

/* Mobile */

/* Tablet and Smaller Desktop */

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}

/*refine above css*/
.hero{
  display: flex;
  height: 100vh;
}
.herosection{
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: -1;
}
.heroContainer{
  width: 80%;
  margin: auto;
}
.herotextSmall{
  font-size: 1.5rem;
}
.herotextLarge{
  font-size: 2rem;
}
.textLeft{
  margin-bottom: 15vh;
}
/* ---------- */
.wavingHand{
  margin-left: 35vw;
}
.designStratTitle{
  text-align: center;
  color: #635d5d;
  font-weight: 700;
  font-size: 5rem;
  -webkit-text-stroke: 2px #15A1EF;
  margin-bottom: 5rem;
}
.textBlue{
  color: #15A1EF;
}
.bottomText{
  text-align: center;
}
@media (width: 768) {
  .herotextLarge{
    font-size: 1.5rem;
  }
}
/* RESPONSIVE DESIGN */
@media only screen and (max-width: 768px){
  .hero{
    display: inline-block;
    height: 100vh;
  }
  .herosection{
    display: block;
    width: 100VW;
    justify-content: center;
    z-index: -1;
    margin: auto;
    text-align: center;
  }
  .image{
    margin-top: 20vh;
    width: 30%;
    height: 30%;
  }
  .intro{
    font-size: 1rem;
    margin-bottom: 10vh;
  }
  .herotextSmall{
    font-size: 1rem;
  }
  .herotextLarge{
    font-size: 2rem;
  }
  .textLeft{
    margin-left: 25%;
    text-align: left;
  }
}