
/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  .card:hover {
    background: rgba(var(--card-rgb), 0.1);
    border: 1px solid rgba(var(--card-border-rgb), 0.15);
  }

  .card:hover span {
    transform: translateX(4px);
  }
}

/* Mobile */

/* Tablet and Smaller Desktop */

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}

/*refine above css*/
.hero{
  display: flex;
  height: 90vh;
}
.herosection{
  display: inline-block;
  width: 50%;display: flex;
  flex-direction: column;
  justify-content: center;
}
.heroContainer{
  width: 80%;
  margin: auto;
}
.herotextSmall{
  font-size: 1.5rem;
}
.herotextLarge{
  font-size: 2.3rem;
}
@media (width: 768) {
  .herotextLarge{
    font-size: 1.5rem;
  }
}